<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weyr_associates.lambtracker"
    android:versionCode="3"
    android:versionName="3.0" >
   
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.weyr_associates.lambtracker.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.weyr_associates.lambtracker.DoSheepTask"
            android:label="@string/title_activity_do_sheep_task" 
            android:screenOrientation="portrait"
            android:configChanges="orientation">
        </activity>
        <activity
            android:name="com.weyr_associates.lambtracker.LookUpSheep"
            android:label="@string/title_activity_look_up_sheep" 
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:configChanges="orientation">
        </activity>
        <activity
            android:name="com.weyr_associates.lambtracker.LoadSheepList"
            android:label="@string/title_activity_load_sheep_list" 
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation">
        </activity>
        <activity 
            android:name="com.weyr_associates.lambtracker.EditDB" 
            android:label="@string/title_activity_edit_database" 
            android:screenOrientation="portrait"
            android:configChanges="orientation">
        </activity>
        <activity
            android:name="com.weyr_associates.lambtracker.ConvertToEID"
            android:label="@string/title_activity_convert_to_eid"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"
            android:configChanges="orientation">
        </activity>
        <activity
            android:name="com.weyr_associates.lambtracker.EvaluateSheep"
            android:label="@string/title_activity_evaluate_sheep" 
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation">
        </activity>
        <activity
            android:name="com.weyr_associates.lambtracker.EvaluateSheep2"
            android:label="@string/title_activity_evaluate_sheep" 
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation">
        </activity>
        <activity
            android:name="com.weyr_associates.lambtracker.CreateSheepEvaluation"
            android:label="@string/title_activity_create_sheep_evaluation" 
            android:screenOrientation="portrait"
            android:configChanges="orientation">
        </activity>
        <activity
            android:name="com.weyr_associates.lambtracker.TestInterfaceDesigns"
            android:label="@string/title_activity_test_interface_designs" 
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation">
        </activity>
        <activity
            android:name="com.weyr_associates.lambtracker.LambingSheep"
            android:label="@string/title_activity_lambing_sheep" 
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation">
        </activity>
        <activity
            android:name="com.weyr_associates.lambtracker.AddLamb"
            android:label="@string/title_activity_add_lamb" 
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation">
        </activity>
        <activity 
            android:name="com.weyr_associates.lambtracker.MyOnItemSelectedListener" >
        </activity>
        <activity android:name="com.weyr_associates.lambtracker.EditPreferences" 
            android:label="@string/app_name_settings"> 
        </activity>
        <activity
			android:name="com.weyr_associates.lambtracker.FileList"
            android:label="@string/title_activity_load_sheep_list" 
            android:screenOrientation="portrait"
            android:configChanges="orientation">
        </activity>
        <service android:name="com.weyr_associates.lambtracker.eidService"
    	    android:exported="true">
    	    <intent-filter>
				<action android:name="com.weyr_associates.lambtracker.eidService"/>	
    	    </intent-filter>
    	 </service>
    </application>
</manifest>